.vs/*
.vscode/*
winPEAS/winPEASexe/.vs/*
v16/*
winPEAS/winPEASexe/.vs/winPEAS/v16/*
winPEAS/winPEASexe/binaries/**/*.exe
Debug/*
winPEAS/winPEASexe/winPEAS/bin/Debug/*
.DS_Store
./.DS_Store
./*/.DS_Store
./*/.tmp1
.tmp1
obj
bin
packages
*cpython*
*/*cpython*
launch.json
*.pyc
**/*.pyc
__pycache__
*/__pycache__
**/__pycache__
linPEAS/builder/__pycache__/*
linPEAS/builder/src/__pycache__/*
linPEAS/linpeas.sh
linPEAS/builder/linpeas_base_tmp.sh
build_lists/regexes.yaml
sh2bin
sh2bin/*
.dccache
./*/.dccache
regexes.yaml
build_lists/regexes.yaml