.vs/*
winPEAS/winPEASexe/.vs/*
v16/*
winPEAS/winPEASexe/.vs/winPEAS/v16/*
Debug/*
winPEAS/winPEASexe/winPEAS/bin/Debug/*
.DS_Store
./.DS_Store
./*/.DS_Store
./*/.tmp1
.tmp1
obj
bin
packages
*cpython*
*/*cpython*
launch.json
*.pyc
**/*.pyc