<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1804" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="CS0078" Action="None" />
    <Rule Id="CS0105" Action="None" />
    <Rule Id="CS0108" Action="None" />
    <Rule Id="CS0109" Action="None" />
    <Rule Id="CS0114" Action="None" />
    <Rule Id="CS0162" Action="None" />
    <Rule Id="CS0164" Action="None" />
    <Rule Id="CS0168" Action="None" />
    <Rule Id="CS0183" Action="None" />
    <Rule Id="CS0184" Action="None" />
    <Rule Id="CS0197" Action="None" />
    <Rule Id="CS0219" Action="None" />
    <Rule Id="CS0251" Action="None" />
    <Rule Id="CS0252" Action="None" />
    <Rule Id="CS0253" Action="None" />
    <Rule Id="CS0278" Action="None" />
    <Rule Id="CS0279" Action="None" />
    <Rule Id="CS0280" Action="None" />
    <Rule Id="CS0282" Action="None" />
    <Rule Id="CS0419" Action="None" />
    <Rule Id="CS0420" Action="None" />
    <Rule Id="CS0435" Action="None" />
    <Rule Id="CS0436" Action="None" />
    <Rule Id="CS0437" Action="None" />
    <Rule Id="CS0440" Action="None" />
    <Rule Id="CS0458" Action="None" />
    <Rule Id="CS0464" Action="None" />
    <Rule Id="CS0465" Action="None" />
    <Rule Id="CS0469" Action="None" />
    <Rule Id="CS0472" Action="None" />
    <Rule Id="CS0473" Action="None" />
    <Rule Id="CS0612" Action="None" />
    <Rule Id="CS0618" Action="None" />
    <Rule Id="CS0626" Action="None" />
    <Rule Id="CS0628" Action="None" />
    <Rule Id="CS0642" Action="None" />
    <Rule Id="CS0652" Action="None" />
    <Rule Id="CS0657" Action="None" />
    <Rule Id="CS0658" Action="None" />
    <Rule Id="CS0659" Action="None" />
    <Rule Id="CS0660" Action="None" />
    <Rule Id="CS0661" Action="None" />
    <Rule Id="CS0665" Action="None" />
    <Rule Id="CS0672" Action="None" />
    <Rule Id="CS0675" Action="None" />
    <Rule Id="CS0684" Action="None" />
    <Rule Id="CS0693" Action="None" />
    <Rule Id="CS0728" Action="None" />
    <Rule Id="CS0809" Action="None" />
    <Rule Id="CS0811" Action="None" />
    <Rule Id="CS0824" Action="None" />
    <Rule Id="CS1030" Action="None" />
    <Rule Id="CS1058" Action="None" />
    <Rule Id="CS1062" Action="None" />
    <Rule Id="CS1064" Action="None" />
    <Rule Id="CS1066" Action="None" />
    <Rule Id="CS1072" Action="None" />
    <Rule Id="CS1522" Action="None" />
    <Rule Id="CS1570" Action="None" />
    <Rule Id="CS1571" Action="None" />
    <Rule Id="CS1572" Action="None" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1574" Action="None" />
    <Rule Id="CS1580" Action="None" />
    <Rule Id="CS1581" Action="None" />
    <Rule Id="CS1584" Action="None" />
    <Rule Id="CS1587" Action="None" />
    <Rule Id="CS1589" Action="None" />
    <Rule Id="CS1590" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS1592" Action="None" />
    <Rule Id="CS1616" Action="None" />
    <Rule Id="CS1633" Action="None" />
    <Rule Id="CS1634" Action="None" />
    <Rule Id="CS1635" Action="None" />
    <Rule Id="CS1645" Action="None" />
    <Rule Id="CS1658" Action="None" />
    <Rule Id="CS1668" Action="None" />
    <Rule Id="CS1685" Action="None" />
    <Rule Id="CS1687" Action="None" />
    <Rule Id="CS1690" Action="None" />
    <Rule Id="CS1692" Action="None" />
    <Rule Id="CS1695" Action="None" />
    <Rule Id="CS1696" Action="None" />
    <Rule Id="CS1697" Action="None" />
    <Rule Id="CS1700" Action="None" />
    <Rule Id="CS1701" Action="None" />
    <Rule Id="CS1702" Action="None" />
    <Rule Id="CS1710" Action="None" />
    <Rule Id="CS1711" Action="None" />
    <Rule Id="CS1712" Action="None" />
    <Rule Id="CS1717" Action="None" />
    <Rule Id="CS1718" Action="None" />
    <Rule Id="CS1720" Action="None" />
    <Rule Id="CS1723" Action="None" />
    <Rule Id="CS1734" Action="None" />
    <Rule Id="CS1735" Action="None" />
    <Rule Id="CS1762" Action="None" />
    <Rule Id="CS1927" Action="None" />
    <Rule Id="CS1956" Action="None" />
    <Rule Id="CS1957" Action="None" />
    <Rule Id="CS1974" Action="None" />
    <Rule Id="CS1981" Action="None" />
    <Rule Id="CS1998" Action="None" />
    <Rule Id="CS2002" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
    <Rule Id="CS3000" Action="None" />
    <Rule Id="CS3001" Action="None" />
    <Rule Id="CS3002" Action="None" />
    <Rule Id="CS3003" Action="None" />
    <Rule Id="CS3005" Action="None" />
    <Rule Id="CS3006" Action="None" />
    <Rule Id="CS3007" Action="None" />
    <Rule Id="CS3008" Action="None" />
    <Rule Id="CS3009" Action="None" />
    <Rule Id="CS3010" Action="None" />
    <Rule Id="CS3011" Action="None" />
    <Rule Id="CS3012" Action="None" />
    <Rule Id="CS3013" Action="None" />
    <Rule Id="CS3014" Action="None" />
    <Rule Id="CS3015" Action="None" />
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS3017" Action="None" />
    <Rule Id="CS3018" Action="None" />
    <Rule Id="CS3019" Action="None" />
    <Rule Id="CS3021" Action="None" />
    <Rule Id="CS3022" Action="None" />
    <Rule Id="CS3023" Action="None" />
    <Rule Id="CS3024" Action="None" />
    <Rule Id="CS3026" Action="None" />
    <Rule Id="CS3027" Action="None" />
    <Rule Id="CS4014" Action="None" />
    <Rule Id="CS4024" Action="None" />
    <Rule Id="CS4025" Action="None" />
    <Rule Id="CS4026" Action="None" />
    <Rule Id="CS7033" Action="None" />
    <Rule Id="CS7035" Action="None" />
    <Rule Id="CS7080" Action="None" />
    <Rule Id="CS7081" Action="None" />
    <Rule Id="CS7082" Action="None" />
    <Rule Id="CS7090" Action="None" />
    <Rule Id="CS7095" Action="None" />
    <Rule Id="CS8001" Action="None" />
    <Rule Id="CS8002" Action="None" />
    <Rule Id="CS8009" Action="None" />
    <Rule Id="CS8012" Action="None" />
    <Rule Id="CS8018" Action="None" />
    <Rule Id="CS8019" Action="None" />
    <Rule Id="CS8021" Action="None" />
    <Rule Id="CS8029" Action="None" />
    <Rule Id="CS8032" Action="None" />
    <Rule Id="CS8033" Action="None" />
    <Rule Id="CS8034" Action="None" />
    <Rule Id="CS8040" Action="None" />
    <Rule Id="CS8073" Action="None" />
    <Rule Id="CS8094" Action="None" />
    <Rule Id="CS8105" Action="None" />
    <Rule Id="CS8123" Action="None" />
    <Rule Id="CS8305" Action="None" />
    <Rule Id="CS8321" Action="None" />
    <Rule Id="CS8359" Action="None" />
    <Rule Id="CS8360" Action="None" />
    <Rule Id="CS8371" Action="None" />
    <Rule Id="CS8383" Action="None" />
    <Rule Id="CS8387" Action="None" />
    <Rule Id="CS8424" Action="None" />
    <Rule Id="CS8425" Action="None" />
    <Rule Id="CS8509" Action="None" />
    <Rule Id="CS8512" Action="None" />
    <Rule Id="CS8513" Action="None" />
    <Rule Id="CS8519" Action="None" />
    <Rule Id="CS8520" Action="None" />
    <Rule Id="CS8597" Action="None" />
    <Rule Id="CS8600" Action="None" />
    <Rule Id="CS8601" Action="None" />
    <Rule Id="CS8602" Action="None" />
    <Rule Id="CS8603" Action="None" />
    <Rule Id="CS8604" Action="None" />
    <Rule Id="CS8605" Action="None" />
    <Rule Id="CS8606" Action="None" />
    <Rule Id="CS8607" Action="None" />
    <Rule Id="CS8608" Action="None" />
    <Rule Id="CS8609" Action="None" />
    <Rule Id="CS8610" Action="None" />
    <Rule Id="CS8611" Action="None" />
    <Rule Id="CS8612" Action="None" />
    <Rule Id="CS8613" Action="None" />
    <Rule Id="CS8614" Action="None" />
    <Rule Id="CS8615" Action="None" />
    <Rule Id="CS8616" Action="None" />
    <Rule Id="CS8617" Action="None" />
    <Rule Id="CS8618" Action="None" />
    <Rule Id="CS8619" Action="None" />
    <Rule Id="CS8620" Action="None" />
    <Rule Id="CS8621" Action="None" />
    <Rule Id="CS8622" Action="None" />
    <Rule Id="CS8624" Action="None" />
    <Rule Id="CS8625" Action="None" />
    <Rule Id="CS8626" Action="None" />
    <Rule Id="CS8629" Action="None" />
    <Rule Id="CS8631" Action="None" />
    <Rule Id="CS8632" Action="None" />
    <Rule Id="CS8633" Action="None" />
    <Rule Id="CS8634" Action="None" />
    <Rule Id="CS8638" Action="None" />
    <Rule Id="CS8643" Action="None" />
    <Rule Id="CS8644" Action="None" />
    <Rule Id="CS8645" Action="None" />
    <Rule Id="CS8653" Action="None" />
    <Rule Id="CS8654" Action="None" />
    <Rule Id="CS8655" Action="None" />
    <Rule Id="CS8656" Action="None" />
    <Rule Id="CS8667" Action="None" />
    <Rule Id="CS8714" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0003WithoutSuggestion" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0004WithoutSuggestion" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0008WithoutSuggestion" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0016WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0032WithoutSuggestion" Action="None" />
    <Rule Id="IDE0034" Action="None" />
    <Rule Id="IDE0034WithoutSuggestion" Action="None" />
    <Rule Id="IDE0035" Action="None" />
    <Rule Id="IDE0035WithoutSuggestion" Action="None" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0036WithoutSuggestion" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0037WithoutSuggestion" Action="None" />
    <Rule Id="IDE0039" Action="None" />
    <Rule Id="IDE0039WithoutSuggestion" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0040WithoutSuggestion" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0041WithoutSuggestion" Action="None" />
    <Rule Id="IDE0042" Action="None" />
    <Rule Id="IDE0042WithoutSuggestion" Action="None" />
    <Rule Id="IDE0043" Action="None" />
    <Rule Id="IDE0045" Action="None" />
    <Rule Id="IDE0045WithoutSuggestion" Action="None" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0046WithoutSuggestion" Action="None" />
    <Rule Id="IDE0047" Action="None" />
    <Rule Id="IDE0048" Action="None" />
    <Rule Id="IDE0048WithoutSuggestion" Action="None" />
    <Rule Id="IDE0049" Action="None" />
    <Rule Id="IDE0049WithoutSuggestion" Action="None" />
    <Rule Id="IDE0050" Action="None" />
    <Rule Id="IDE0050WithoutSuggestion" Action="None" />
    <Rule Id="IDE0051" Action="None" />
    <Rule Id="IDE0052" Action="None" />
    <Rule Id="IDE0053" Action="None" />
    <Rule Id="IDE0053WithoutSuggestion" Action="None" />
    <Rule Id="IDE0054" Action="None" />
    <Rule Id="IDE0054WithoutSuggestion" Action="None" />
    <Rule Id="IDE0056" Action="None" />
    <Rule Id="IDE0056WithoutSuggestion" Action="None" />
    <Rule Id="IDE0057" Action="None" />
    <Rule Id="IDE0057WithoutSuggestion" Action="None" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0059" Action="None" />
    <Rule Id="IDE0060" Action="None" />
    <Rule Id="IDE0061" Action="None" />
    <Rule Id="IDE0062" Action="None" />
    <Rule Id="IDE0062WithoutSuggestion" Action="None" />
    <Rule Id="IDE0063" Action="None" />
    <Rule Id="IDE0063WithoutSuggestion" Action="None" />
    <Rule Id="IDE0064" Action="None" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="IDE0066" Action="None" />
    <Rule Id="IDE0066WithoutSuggestion" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1005WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
    <Rule Id="RE0001" Action="None" />
    <Rule Id="RE0001WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0033WithoutSuggestion" Action="None" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0044WithoutSuggestion" Action="None" />
    <Rule Id="IDE0055" Action="None" />
    <Rule Id="IDE0055WithoutSuggestion" Action="None" />
    <Rule Id="IDE0067" Action="None" />
    <Rule Id="IDE0068" Action="None" />
    <Rule Id="IDE0069" Action="None" />
  </Rules>
</RuleSet>