<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net45" />
  <package id="CredentialManagement" version="1.0.2" targetFramework="net40" />
  <package id="Fody" version="6.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="TaskScheduler" version="2.8.16" targetFramework="net45" />
</packages>