{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} - WWJuggler{% else %}Welcome to WWJuggler{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block navbar %}
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">WWJuggler</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('console') }}">Console</a></li>
                    <li><a href="{{ url_for('dos') }}">DoS</a></li>
                    <li><a href="{{ url_for('client') }}">Twin/MANA</a></li>
                    <li><a href="{{ url_for('create_cert') }}">EAP Cert</a></li>
                    <li><a href="{{ url_for('wps_cracking') }}">WPS</a></li>
                    <li><a href="{{ url_for('capture_handshake') }}">Cap-HShakes</a></li>
                    <li><a href="{{ url_for('execute') }}">Exec</a></li>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}