{% extends "base.html" %}

{% block app_content %}
<div style="margin:20px">
    <h3>   Available wlan interfaces</h3>
    <ul>
    {% for wlan, mode in wlans.items() %}
        {% if mode == "Managed" %}
            <li><h5 style="color:green; font-size:15px">{{ wlan }} ({{ mode }}) <button onclick="window.location.href = '/change_wlan_mode/{{ wlan }}';">Change Mode</button> </h5></li>
        {% else %}
            <li><h5 style="color:red; font-size:15px">{{ wlan }} ({{ mode }}) <button onclick="window.location.href = '/change_wlan_mode/{{ wlan }}';">Change Mode</button></h5></li>
        {% endif %}
    {% endfor %}
    </ul>
    <br>
    <form action="/restart_airodump">
        <input type="submit" value="Restart airodump" />
    </form>
    <!--<br>
    <form action="/reboot" method="POST" onsubmit="return confirm('Do you really want to reboot the system?');">
        <input type="submit"style="color:red;" value="Reboot System" />
    </form>
    <br>-->
</div>
<iframe src="/scan_results" style="position:fixed; left:0px; right:0px; width:100%; height:75%; border:none; margin:0;"></iframe>
{% endblock %}